.vertical.menu {
  width: 100%;
  background: transparent;
  box-shadow: none;
  border: none;

  .item {
    text-align: center;
    padding: 14px 0;

    &:before {
      display: none;
    }

    &:first-of-type {
      margin-bottom: 20px;
    }

    i {
      font-size: 24px;
      color: #5352a0;
    }

    > img:not(.ui) {
      max-width: 70%;
      margin: 0 auto;
    }
  }
}