.calepin-viewer {
  height: 100%;

  > .segment {
    height: 100vh;
    border: 0;
    box-shadow: none;
  }

  > .top.menu {
    border-top: none;
    border-left: none;
    border-radius: 0;
  }

  > .bottom.attached.segment {
    height: calc(100vh - 40px);
    white-space: pre-wrap;

    .mde-preview {
      white-space: normal;
    }
  }

}