.calepin-viewer {
  height: 100%;

  > .segment {
    height: 100vh;
    border: 0;
    box-shadow: none;
  }

  > .bottom.attached.segment {
    white-space: pre-wrap;

    .mde-preview {
      white-space: normal;
    }
  }

}